/* file responsible for game interactions */

:root {
    --jumpSpeed: 250ms;
    --pipeSpeed: 3000ms
}

#mario {
    position: absolute;
    bottom: 57px;
    /* width: 7%; */
    height: 15%;
}

.pipe {
    height: 15%;
    position: absolute;
    bottom: 60px;
    animation: pipe-obstacle var(--pipeSpeed) linear infinite;
}

.entering-mario {
    animation: mario-entering 2s linear;
}

.entering-pipe {
    animation: pipe-entering 2s 2 ease-out;
    animation-direction: alternate;
}

.pipe-initial {
    position: absolute;
    bottom: 45px;
    width: 10%;
    height: 21%;
}

.jump {
    animation: jump var(--jumpSpeed) 2 ease-out;
    animation-direction: alternate;
}

.double-jump {
}

@keyframes jump {
    from {
        bottom: 54px;
    }
    to {
        bottom: calc(30% + 54px);
    }
}

@keyframes pipe-entering {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

@keyframes mario-entering {
    from {
        left: -20%;
    }
    to {
        left: 10%;
    }
}

@keyframes pipe-obstacle {
    from {
        left: 110%;
    }
    to{
        left: -10%;
    }
}
